[Unit]
Description=Glances export service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=glances
Group=glances
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/glances \
--quiet \
--config /home/glances/.config/glances/glances.conf \
--export prometheus 

SyslogIdentifier=glances
Restart=always

[Install]
WantedBy=multi-user.target